@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 1rem;

  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

h1 {
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.counter,
textarea,
.counter__data-remaining,
.counter__data-total {
  border-radius: 3px;
}

.counter {
  padding: 1rem;
  width: 600px;
  max-width: 100%;
  background-color: rgba(1, 1, 1, 0.7);
}

.counter textarea {
  font-family: inherit;
  min-width: 100%;
  outline: none;
  font-size: 1.3rem;
  padding: 0.5rem;
  text-align: left;
  margin-bottom: 1rem;
  color: #333;
}

.counter__data {
  display: flex;
  justify-content: space-between;
}

.counter__data-total,
.counter__data-remaining {
  background-color: red;
  padding: 0 1rem;
  margin: 0 1rem;
}

.counter__data-remaining {
  background-color: green;
}
